<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Gusto d'italia! - Admin Bookings</title>

    <!--Bootstrap Import-->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <!--Custom JS-->
    <script src="../Public/JS/createBooking.js"></script>
    <script src="../Public/JS/Components/Navbar.js"></script>
    <script src="../Public/JS/Components/Header.js"></script>
    <!--Custom CSS-->
    <link rel="stylesheet" href="../Public/CSS/styles.css">
</head>


<!---------------------------------------------------------------------------------------
  A onload trigger is added to the body which will call the readTodoItems() function
  which will in turn send a REST API GET request to the microservice to read the booking_list
  from the DB
---------------------------------------------------------------------------------------->

<body>

    <!-- Navbar -->
    <component-navbar></component-navbar>

    <!-- Header -->
    <component-header></component-header>

</body>

</html>