<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Restuarant - Booking</title>
    <script src="../Public/JS/createBooking.js"></script>
</head>


<!---------------------------------------------------------------------------------------
  A onload trigger is added to the body which will call the readTodoItems() function
  which will in turn send a REST API GET request to the microservice to read the booking_list
  from the DB
---------------------------------------------------------------------------------------->
<body>

    <!---------------------------------------------------------------------------------------
      This is the Header
    ---------------------------------------------------------------------------------------->
    <div class="bookingForm">

        <h2>Book a table</h2>

        <form action="javascript:addNewBooking()" style="margin-top: 10px">

            <label for="chooseLocation">Choose a location:</label><br>
            <select name="locations" id="locations">
                <option value="terrace">Terrace</option>
                <option value="balcony">Balcony</option>
                <option value="indoor_table">Indoors (Table)</option>
                <option value="indoor_booth">Indoors (Booth)</option>
            </select><br><br>

            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br><br>

            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" value="Doe"><br><br>

            <label for="phone">Phone Number:</label><br>
            <input type="text" id="phonen" name="phonen" value=""><br><br>

            <label for="partynum">Number in party:</label><br>
            <input type="number" id="party" name="party" value="1"><br><br>

            <label for="notes">Special notes:</label><br>
            <input type="text" id="notes" name="notes" value=""><br><br>

            <label for="info">Allergy/Dietary Requirements:</label><br>
            <input type="text" id="info" name="info" value=""><br><br>
            <input type="submit" value="Submit">
        </form>

    </div>

</body>
</html>